@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@100&family=Righteous&family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Shizuru&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}

main,
header,
.box,
.box ul,
.box ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*                          Topo                        */
header {
    width: 100%;
    min-height: 12vh;
    background: rgb(255, 102, 0);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.472);
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}
header h2{
    font-size: 1em;
}
header {
    width: 100%;
    min-height: 12vh;
    background: rgb(255, 102, 0);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.472);
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    flex-direction: column;
    gap: 10px;
}


main {
    width: 100%;
    min-height: 88vh;
    padding:10px;
    gap: 20px;
    background-color: #ccc;
    text-align: center;
    flex-direction: column;
}
.box {
    width: 100%;
    max-width: 1500px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgba(18, 18, 18, 0.205);
    box-shadow: 0 0 20px black;
}
.box ul {
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
}

.box ul li {
    flex: 1 1 300px;
    gap: 6px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.419);
    flex-direction: column;
    justify-content: space-between;
}
.box ul li img{
    width: 110px;
    height: 110px;
}
.box button{
    width: 100%;
    padding: 5px;
    background-color: #00000080;
    color: #fff;
    font-size: 1.5em;
    transition: .5s ease-in-out;
    border: none;
}
.box .error{
    background-color: red;
}
.box button:hover{
    background-color: #fff;
    color: #000;
}
.box ul li input {
    width: 90%;
    height: 80px;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    border: none;
    color: rgb(255, 255, 255);
    background: none;
}
.box ul li label {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

/* .box input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}

.box input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;

} */

/*                          Resultados                        */
.resultado {
    width: 100%;
    background-color: red;
    max-width: 800px;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgba(18, 18, 18, 0.067);
    box-shadow: 0 0 20px black;
}
.resultado img{
    width: 100px;
}
#resultado {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

#resultado h1 {
    color: rgb(255, 123, 0);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px
}

#resultado span {
    margin-top: 10px;
    width: 70%;
    color: rgb(255, 123, 0);
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    background: rgba(36, 36, 36, 0.445);
    padding-right: 20px;
}

#resultado img {
    width: 90px;
}


@media (max-width:999px) {
    header{
        padding: 10px 0;
    }
    header h1{
        font-size: 35px;
    }
    header h2{
        font-size: 20px;
    }
}