@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@100&family=Righteous&family=Roboto+Mono:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Shizuru&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Righteous', cursive;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    position: relative;
    overflow: hidden;
    padding-bottom: 50px;
}

/*                          Topo                        */
.textBox{
    
    position: relative;
    width: 100%;
    min-height: 20vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background:rgba(163, 65, 0, 0.425);
    box-shadow: 0 10px 40px rgb(0, 0, 0);
    z-index: 10;
}
.textBox h1{
    font-family: 'Shizuru', cursive;
    color: rgb(255, 123, 0);
    font-size: 4em;
    font-weight: 900;
}
.textBox span{
    color: rgb(255, 123, 0);
    font-size: 2em;
    font-weight: 700;
}


/*                      area de calculo e resultado                        */
.Box{
    width: 80%;
    min-height: 75vh;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    border-radius:  0 0 30px 30px ;
    background:rgb(0, 0, 0);
    box-shadow: 0 10px 40px rgb(20, 20, 20);
    z-index: 100;
    background-color: rgba(206, 110, 0, 0.123);
}
.fogo{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    
}
.churras{
    position:absolute;
    right: 0;
    top: -80px;
    opacity: 0.6;
}
/*                          Dados                        */
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    position: relative;
}
.left button{
    margin-top: 50px;
    width: 80%;
    height: 50px;
    border-radius:20px;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.349);
    z-index: 3;
}
.left button:hover{
    background: rgb(27, 27, 27);
    color: rgba(255, 255, 255, 0.712);  
}
.entrada{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px ;
    position: relative;
}
.entrada ion-icon{
    position: absolute;
    display: inline-block;
    font-size: 40px;
    color: rgb(255, 255, 255)  
}
.entrada input{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    border: none;
    color: rgb(255, 255, 255);
    background: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.397);
}

/*                          Resultados                        */
.right{
    z-index: 10;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;    
}

#resultado{
    width: 100%;
    height: 100%;
    z-index: 100;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
    border-radius: 20px;   
}
#resultado h1{
    color: rgb(255, 123, 0);
    text-align: center;
    font-size: 50px;
    font-weight: bold; 
    margin-bottom: 30px
}
#resultado span{
    margin-top:10px ;
    width: 70%;
    color: rgb(255, 123, 0);
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: rgba(36, 36, 36, 0.445);
    padding-right: 20px;
}
#resultado img {
    width: 90px;
    background-color: rgba(240, 248, 255, 0.637);
    border-radius: 20px 0 0 20px;
    
    
}

@media (max-width:999px) {
    .textBox h1{
        font-size: 50px;
        margin: 20px;
    }
    .textBox span{
        font-size: 20px;
        text-align: center;
    }
    .Box{
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .entrada{
        width: 95%;
    }
    .left{
        margin-bottom: 50px;
    }
    .right{
        margin-bottom: 50px;
    }
    #resultado h1{
        width: 95%;
        font-size: 35px;
        
    }
    #resultado span{
        
        font-size: 35px;
    }
    .fogo{
        display: none;
    }
    .churras{
        position:absolute;
        right: 0;
        top: 100px;
        opacity: 0.6;
    }
}
